body, html
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control
{
    border-radius: 0;
    margin: 20px;

    &:active
    {
    }
}
label
{
    margin: 0 20px;
    width: 100%;
}

.alert
{
    display: none;
    width: 100%;
    margin: 20px;
}

.btn
{
    margin: 5px 20px;
    width: 100%;
}
option {
    padding: 0 24px;
}

select.form-control {
    height: 36px;
    border-radius: 0;
}

.level
{
    display: none;
}

.loadingScreen
{
    position: absolute;
    z-index: 1337;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#target
{
    display: none;
}